@use "./base.scss";
// put your custom CSS here!

img {
    position: relative;
    transition: transform .2s;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
	-webkit-user-drag: none !important;
	-moz-user-select: none !important;
    max-height: 67vh;
}

p:has(> img) {
  text-align: center;
}

a[role=anchor] {
    content: "";
    display: none;
}

article a.external {
    text-decoration: none;
    white-space: nowrap;
    padding: .5em;
    margin-left: -.5em;
    margin-right: -.5em;
    position: relative;
    clip-path: margin-box;

    overflow: hidden;

    &:before, &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid var(--tertiary);
        border-radius: 1em;
        bottom: .3em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1.5em;
        transform-origin: left;
    }

    &:after {
        width: 100%;
        left: 2em;
        transform: translateX(100%);
    }

    &:hover:before {
        transform: translateX(-50%);
    }

    &:hover:after {
        transform: translateX(0);
    }

}

.meta > time {
    display: none;
}

li.section-li > .section {
  grid-template-columns: 3fr 2fr;
}

.page-title {
  font-size: 1.90rem;
}

.social-links {
    text-align: left;
}

.social-links > ul {
    list-style: none;
    line-height: 1.6rem;
    padding: 0;
    margin-bottom: 0;
}